<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6 footer-width">
        <div class="footer-txt wow fadeInLeft" data-wow-duration="2s">
          <a href="index.html">
            <img src="images/logo.png" alt="img" />
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
          </p>
          <div class="socials">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa-brands fa-x-twitter"></i>
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 footer-width">
        <div class="footer-txt1 wow fadeInDown" data-wow-duration="2s">
          <div class="footer-txt-heading">
            <h5>Quick links</h5>
          </div>

          <div class="footer-links1 footer-links">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="poetry.html">poetry</a></li>
              <li>
                <a href="products.html">hand made card & book marks</a>
              </li>
              <li><a href="artworks.html">artworks</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-6 footer-width">
        <div class="footer-txt wow fadeInDown" data-wow-duration="2s">
          <div class="footer-txt-heading">
            <h5>contact Info</h5>
          </div>

          <div class="footer-links footer-links-contact">
            <ul>
              <li>
                <a href="tel:1-262-391-3842">1-262-391-3842</a>
                <a href="tel:207-950-9059">207-950-9059</a>
              </li>

              <li>
                <a
                  href="https://maps.app.goo.gl/ozHBzqwEdQAVfaZd8"
                  target="_blank"
                >
                  20 Rest Haven St. Alfred, Maine 04002
                </a>
              </li>

              <li>
                <a href="mailto:kitzel65.lf@gmail.com">kitzel65.lf@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 col-sm-12 col-md-6">
        <div class="news-letter wow fadeInRight" data-wow-duration="2s">
          <h5>Join the Creative Journey</h5>
          <p>Subscribe to our Newsletter for more Updates</p>
          <form action="#">
            <div class="news_in">
              <input type="email" placeholder="Enter Your Email.." />
            </div>

            <div class="news-letter-btn">
              <button type="submit" class="theme1">
                <span class="theme1-txt">Subscribe Now</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="bottombar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="footer-rights wow fadeInLeft" data-wow-duration="2s">
            <p>© 2025 <a href="index.html">Bloomettesbylandy</a>. All Rights Reserved.</p>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="footer-rights-img wow bounceIn" data-wow-duration="2s">
            <a href="#">
              <img src="images/pay-cards.png" alt="img" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
